 @{ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>


<body style="background-color:beige">

    <br />
    <br />
    <br />
    <h1 class="text-center d-md-inline-block" id="ap">
        I began my journey in May 2019, it not only hit my self being,it hit me hard finacially as well.
        I put together this list of places that I found help, and then added some places you can
        research to see if they can help you.My wish is that this list can grow with contributions
        from warriors in every state, past and present, and find someone in need.There is enough to worry
        about on this journey,finances not being one of them.I wish you strength and you are not alone.
    </h1>
    <div class="text-center embed-responsive embed-responsive-4by3">
        <video controls="controls" autoplay="autoplay">
            <source src="~/videos/hospital.mp4" type="Video/mp4" />
            Your browser does not support the video tag.
        </video>
    </div>
                
              
    <footer><h3> Just one add could help someone in financial distress find hope</h3></footer>
    <h2 class="text-center">Will you be the light in the darkness for someone in need.Thanks be safe out there.</h2>
</body>