@page 
<html>
    <body style="background-color:antiquewhite">



        <h2>HTML Forms</h2>

        <form id="Form1" action="/action_page.php">
            <label for="Name"> Name:</label><br>
            <input type="text" id="name" name="Name" value="Name"><br>
            <label for="email">Email:</label><br>
            <input type="text" id="Email" name="email" value="Email"><br><br>
            <label for="Concern">Concern</label><br/>
            <input type="Text" id="concern"name="Concern" value="Text" />

            <input type="submit" value="Submit">
       
        </form>
        <h2> Thank you for your feedback , Have a wonderful Day!!!</h2>
    </body>
</html>