<DOCTYPE>
    <html>
    <body style="background-color:antiquewhite">

        <h1 class="text-center">Some Key Facts Of Cancer</h1>
        <section>
            <IMG BORDER="0" ALIGN="Left" SRC="~/videos/armswide.jpg"><ul>
                <li>Cancers figure among the leading causes of death worldwide, accounting for 9.6 million deaths in 2018.</li>
                <li>Lung, colorectal, stomach, liver and breast cancers cause the most cancer deaths each year.</li>
                <li>The most frequent types of cancer differ between men and women.</li>
                <li>About one-third of cancer deaths are due to the five leading behavioral and dietary risks: high body mass index, low fruit <br />and vegetable intake, physical inactivity, tobacco use, alcohol use and are therefore preventable.</li>
            </ul>
        </section>
        <section>
               <ul>
                <li>Tobacco use is the most important risk factor for cancer causing over 20% of global cancer deaths.</li>
                <li>Cancer causing infections such as HBV/HCV and HPV are responsible for up to 25% of cancer cases in low- and middle-income countries.</li>
                <li>Cancer arises from the rapid creation of abnormal cells that grow beyond their usual boundaries. The change may be started by external agents and inherited genetic factors.</li>
                <li>More than 60% of world’s total new annual cases occur in Africa, Asia and Central and South America. These regions account for 70% of the world’s cancer deaths.</li>
              </ul>

            <IMG BORDER="0" ALIGN="Right" SRC="~/videos/hope.jpeg">
        </section>
        <section>


            <IMG BORDER="0" ALIGN="Left" SRC="~/videos/just.jpg"><ul>
                <li>

                    Cancer is the second leading cause of death globally, and is responsible for an estimated 9.6 million deaths in 2018. Globally, about 1 in 6 deaths is due to cancer.
                    Approximately 70% of deaths from cancer occur in low- and middle-income countries.
                    Around one third of deaths from cancer are due to the 5 leading behavioral and dietary risks: high body mass index, low fruit and vegetable intake, lack of physical activity, tobacco use, and alcohol use.
                    Tobacco use is the most important risk factor for cancer and is responsible for approximately 22% of cancer deaths (2).
                    Cancer causing infections, such as hepatitis and human papilloma virus (HPV), are responsible for up to 25% of cancer cases in low- and middle-income countries (3).
                    Late-stage presentation and inaccessible diagnosis and treatment are common. In 2017, only 26% of low-income countries reported having pathology services generally available in the public sector. More than 90% of high-income countries reported treatment services are available compared to less than 30% of low-income countries.
                    The economic impact of cancer is significant and is increasing. The total annual economic cost of cancer in 2010 was estimated at approximately US$ 1.16 trillion (4).
                    Only 1 in 5 low- and middle-income countries have the necessary data to drive cancer policy (5).
                    Cancer is a generic term for a large group of diseases that can affect any part of the body. Other terms used are malignant tumours and neoplasms. One defining feature of cancer is the rapid creation of abnormal cells that grow beyond their usual boundaries, and which can then invade adjoining parts of the body and spread to other organs, the latter process is referred to as metastasizing. Metastases are a major cause of death from cancer.
                    The problem
                    Cancer is a leading cause of death worldwide, accounting for an estimated 9.6 million deaths in 2018. The most common cancers are:
                </li>

            </ul>
        </section>
        <section>
            <IMG BORDER="0" ALIGN="right" SRC="~/videos/what.jpeg">





            <ul class="align-content-center">
                <li>
                    Lung (2.09 million cases)
                </li>
                <li>
                    Breast (2.09 million cases)
                </li>

                <li>Colorectal (1.80 million cases)</li>
                <li>Prostate (1.28 million cases)</li>
                <li>Skin cancer (non-melanoma) (1.04 million cases)</li>
                <li>Stomach (1.03 million cases)</li>
                <li>Lung (1.76 million deaths)</li>
                <li>Colorectal (862 000 deaths)</li>
                <li>Stomach (783 000 deaths)</li>
                <li>Liver (782 000 deaths)</li>
                <li>Breast (627 000 deaths)</li>
                <li>physical carcinogens, such as ultraviolet and ionizing radiation;</li>
                <li>chemical carcinogens, such as asbestos, components of tobacco smoke, aflatoxin (a food contaminant), and arsenic (a drinking water contaminant</li>
                <li>biological carcinogens, such as infections from certain viruses, bacteria, or parasites.</li>

             </ul>

        </section>


    </body>
</html>
</DOCTYPE>                    